body{
    text-align: center;
    .Task-container{
    padding: 40px;
    margin: 3px;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}
.Task-container a{
    padding: 10px;
    margin: 2px;
    border-radius: 6px;
    background-color: #85d59d;
    color: white;
}
}