body{
    background-color:#09111e ;
}
h1{
    text-align: center;
    color: white;
    text-decoration: underline;
    font-size: large;
}
.Task-container{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    padding: 20px;
}
.Task-container a{
    width:150px;           
    height:60px;
    justify-content: center;
    text-align: center;
    padding: 15px 20px;
    color: white;
    background-color: #0a2e68;
    border-radius: 25px;
    border:none;
    font-size:16px;
}
.Task-container a:hover{
    background-color: #465704;
    transform: translateY(-5px);   
    
}
.link{
    text-decoration: none;
}