body{
    background-color:#09111e ;
}
h1{
    text-align: center;
    color: white;
}
.Task-container{
    display: grid;
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:20px;
    width:60%;
    margin:50px auto;
}
.Task-container a{
    justify-content: center;
    text-align: center;
    padding: 15px 40px;
    color: white;
    background-color: #0a2e68;
    border-radius: 25px;
    border:none;
    font-size:16px;
}