.title1{
    color: white;
    text-decoration: underline;
}
body{
    background-color: #0f172a;
    color: white;
}
.title2{
    text-align: center;
    color: white;
    text-decoration: underline;
}
.text{
    text-align: center;
    justify-content: center;
}