body{
    background-color: #0b1a2b;
}
h2{
    color: white;
    text-decoration: underline;
    font-size: large;
}
.cont{
    display: grid;     
    grid-template-columns: 1fr 1fr;
    margin-left: 40px;
    width: 900px;
    height: 200px;
    background-color:#1e293b;
}
.box{
    color: white;
    background-color: rgb(10, 12, 126);
    padding:10px;
    align-self: center; 
    justify-self: center;
}
.boxx{
    color: white;
    background-color: rgb(8, 24, 117);
    padding:10px;
    justify-self: end;
    align-self:end;   
}
